<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lint.DAO.StudentDAO">
    <insert id="insertStudent" parameterType="org.lint.entity.Student">
      insert into student (name,age,sroce) values(#{name},#{age},#{sroce});
    </insert>
    <insert id="insertStudentCatchID" parameterType="org.lint.entity.Student">
        insert into student (name,age,sroce) values(#{name},#{age},#{sroce});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            /*
              参数：
              resultType 返回值类型
              keyProperty 传过来对象的属性
              order 对象的id 生成和 insert 语句的先后顺序 （不写会根据数据库自动选择）
                    在MySQL中是先执行insert 语句，再生成id ，然后赋给@@identity
                    而在oracle 中就刚刚与mysql 相反
              只要select 语句查出来的值，马上把 对象的id 给初始化
            */
            select @@identity;
        </selectKey>
    </insert>

</mapper>